<div class="modal-dialog" style="width: 800px">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title"><%= @product.name %></h4>
    </div>
    <div class="overlay">
      <i id="loading_form_icon" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
    </div>
    <div class="modal-body z-background">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Name:</strong> <%= @product.name %></p>
          <p><strong>Category:</strong> <%= @product.category %></p>
          <p><strong>Price:</strong> <%= @product.price %></p>
          <p><strong>Zuora ID:</strong> <%= @product.zuora_id %></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<% content_for :scripts do %>

<% end %>
