<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Connect Starter Package</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "application", :media => "all"%>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="<%= asset_path 'icon_48.png' %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path 'icon_48.png' %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= asset_path 'icon_48.png' %>">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet">
    <link href="https://d3ntcvh9ql14ma.cloudfront.net/zui/1.4.0/css/zui.icons.css" rel="stylesheet">
  </head>
  <body>
    <div id="main" role="main">
      <div id="breadcrumb-bar">
        <div id='breadcrumbs'>
          <%= yield :breadcrumbs %>
        </div>
        <%= render 'partials/admin_menu', peek_bar: true do %>
          <li><a href="/admin/resque_web">Resque Web</a></li>
          <li><a href="/admin/redis-browser" target="_blank">Redis Web</a></li>
          <li><a href="/admin/app_instances">App Instances</a></li>
        <% end %>
      </div>

      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div class="modal fade" id="z_hub_modal" style="display: none;" aria-hidden="true">
      <%= yield :modal %>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        <%= yield :scripts %>
        if ('<%= notice %>' != ""){noty({text: "<%= notice %>", layout: "topRight",type: "success", animateOpen: {opacity: "show"}, closeWith: ["hover"]});}
        if ('<%= alert %>' != ""){noty({text: "<%= alert %>", layout: "topRight",type: "warning", animateOpen: {opacity: "show"}, closeWith: ["hover"]});}
        if ('<%= error %>' != ""){noty({text: "<%= error %>", layout: "topRight",type: "error", animateOpen: {opacity: "show"}, closeWith: ["hover"]});}
      });
    </script>
  </body>
</html>
